@import "../../../SassGlobal/abstracts/variables";
@import "../../../SassGlobal/abstracts/mixins";
@import "../../../SassGlobal/abstracts/functions";
@import "../../../SassGlobal/base/animation";

.section-function{
  background-image: linear-gradient(to right bottom, rgba($color-green-light,.8), rgba($color-green-dark, .8)), url("../../../starter/img/nat-4.jpg");
  transform: skewY(-5deg);
  height: 95vh;
  background-size: cover;
  margin-top: -10rem;
  padding: 20rem 0;





  &__cards{
    display: inline-block;
    @include centerHV;
  }

  & > *{
    transform: skewY(5deg) translate(-50%, -50%);
  }

  @include respond(tab-port){
    padding: 10rem 0;
    height: 150rem;
  }
}



