@import "../../SassGlobal/abstracts/variables";
@import "../../SassGlobal/abstracts/mixins";
@import "../../SassGlobal/abstracts/functions";

@import "../../SassGlobal/base/animation";


*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3em;

  box-sizing: border-box;

}
