@import "../../../SassGlobal/abstracts/variables";
@import "../../../SassGlobal/abstracts/mixins";
@import "../../../SassGlobal/abstracts/functions";



.row{
  width: $grid-width;
  margin: 0 auto;

  &:not(:last-child){
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"]{
    float: left;

    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2{
    width: col-width-calc(1, 2, 1, 0);
  }

  .col-1-of-3{
    width: col-width-calc(2, 3, 1, 0);
  }

  .col-1-of-4{
    width: col-width-calc(3,4, 1, 0);
  }

  .col-2-of-3{
    width: col-width-calc(2,3, 2, 1);
  }

  .col-2-of-4{
    width: col-width-calc(3, 4, 2, 1);
  }

  .col-3-of-4{
    width: col-width-calc(3, 4, 3, 2);
  }
}